<% content_for :title,"Welcome-MNRYP" %>
<%= render 'Homepage/navmenu' %>

<div class="about-section paddingTB60 gray-bg">
    <div class="container">
            <div class="row">
              <div class="d-flex justify-content-center">
                 <div class="about-title clearfix">
                    <h1>Welcome to <span>MNRYP</span></h1>
                 </div>
               </div>
            </div>
                 <hr />
             <div class="row">
               <p class="about-paddingB text-justify">
               Our team will verify your business listing and your listing will be made public once approved.
               <p></p>
              </div>
        </div>
 </div>
