<%= content_for :recaptcha_js do %>
    <%= include_recaptcha_js %>
  <% end %>
  <%= render 'Homepage/navmenu' %>
  
      <div id="addlistform" class="about-section paddingTB60 gray-bg">
          <div class="container">
              <div class="row">
                <div class="row">
                <div class="col-md-12 col-sm-12">
                   <div class="about-title clearfix">
                      <h1>Sell your Product through <span>MNRYP</span></h1>
                   </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-sm-12">
            <ul >
              <li class="about-paddingB text-justify">Provide accurate details.</li>
              <li class="about-paddingB text-justify">The seller and buyer will be responsible for all transactions.</li>
              <li class="about-paddingB text-justify">Your products will be listed for a period of one month.</li>
            </ul>
            </div>
                <div class="col-md-6 col-sm-12">
                <div class="shadow p-3 mb-5 bg-white rounded">
                <%= render partial:"form" %>
                </div>
                </div>
            </div>
         </div>
       </div>
   
       
       