<% content_for :title, "Contact Us-MNRYP" %>
<%= render 'Homepage/navmenu' %>

                    <h1 class="text-center form_title">Get in touch with <span class="mnryp_word">MNRYP</span></h1>
        <div class="container">
           <div class="row justify-content-center">
             <div class="col-sm-12 col-md-6 col-lg-3 pt-4">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fas fa-phone-alt fa-2x"></i>
                    <p class="text-muted">Call us</p>
                    <p>9865616888</p>
                  </div>
                </div>
             </div>

              <div class="col-sm-12 col-md-6 col-lg-3 pt-4">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fas fa-envelope fa-2x"></i>
                    <p class="text-muted">Email</p>
                    <p>info@narmadainfosys.com</p>
                  </div>
                </div>
             </div>
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt fa-2x"></i>
                            <p class="text-muted">Our Location</p>
                            <address>5<sup>th</sup> Street. Top Floor, Everest Bank Building <br />Mahendranagar Bazar</address>
                        </div>
                    </div>
                </div>
            </div>
       </div>
