
<% if current_user.following?(followed) %>
    <%= link_to unfollow_post_path(followed.to_param), method: :put, remote: true do %>
    	<span class="badge rounded-pill bg-light text-dark responsive-text">Unfollow</span>
	<% end %>
<% end %>
