
.button{
	background-color:#ff8f00 ;
	border-radius:10%;
	width:50%;
	font-size:1rem;
}
.button:hover{
	background-color:#e65100;
}
.btn {
	background-image:none ;
	background-color:cadetblue ;
}

.cancel-button{
	background-color:#f1f1f1 ;
	border-radius:10%;
	width:50%;
	font-size:1rem;
}
.cancel-button:hover{
	background-color:#ff5c33 ;
}

