.category-card{
	text-align: center;
	background: #ffffff;
}
.profile2 {
    top: 10%;
    left: 50%;
	align-content: center;
    width: fit-content;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .card-category-title {
	color: #323232;
    font-size: 0.75rem;
	font-weight: 600;
    overflow: hidden;
    white-space: break-word;
}

