.service_icons{
	height: 40px;
	width: 40px;
}
.service_title{
	font-size: 0.75rem;
	color: #5e6469;
	font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}
.icon_card{
	text-align: center;
	background: #ffffff;
	height: 100px;
	width: 150px;
}

.utility_title{
	font-size: 1rem;
	color: #5e6469;
	font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.utility_card{
	text-align: center;
	background: #ffffff;
	height: 80px;
	width: 200px;
}
